@import 'config';
@import 'Home';
@import 'Leaderboard';
@import 'About';
@import 'settings';
@import 'User';

// APP
//===============
.App {
  min-height: 100vh;
  background-color: $primaryBackgroundColor;
  color: $primaryColor;
  display: flex;
  flex-direction: column;
}

// NAV
//===============
.Nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-left {
    h1 {
      color: $secondaryColor;
    }
  }
  .nav-right {
    width: 15%;
    display: flex;
    justify-content: space-between;

    &-icons {
      color: $primaryColor;
      outline: none;

      &.active {
        color: $secondaryColor;
      }
    }
  }
}

// FOOTER
//===============
.Footer {
  height: 10vh;
  margin-top: auto;
  display: flex;
  justify-content: center;

  .footer-item {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $primaryColor;

    h4 {
      padding-left: 10px;
    }

    &.no-hover {
      cursor: default;

      &:hover {
        color: $primaryColor;
      }
    }

    &:hover {
      color: $secondaryColor;
    }
  }
}

// CUBES
//===============
.Cubes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // transition: 0.3s all ease-in-out;

  .cubes-cube {
    height: 35px;
    width: 150px;
    margin: 5px;
    background-color: $secondaryBackgroundColor;
    color: $secondaryColor;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: 0.3s all ease-in-out;

    &:hover {
      background-color: $primaryColor;
      color: $secondaryBackgroundColor;
      transform: scale(1.02);
      font-weight: 600;
    }
    &.active {
      background-color: $accentColor;
    }
  }
}

// DISPLAY-SOLVE
//===============
.DisplaySolve {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 10;

  .displaysolve-content {
    height: 70vh;
    width: 40vw;
    background-color: $secondaryBackgroundColor;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    &-header {
      height: 5vh;
      padding: 0px 10%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-id-text {
        margin-left: 15px;
      }
    }
  }
}

// ADD-SOLVE
//===============
.AddSolve {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 10;

  .addSolve-content {
    height: 70vh;
    width: 40vw;
    background-color: $secondaryBackgroundColor;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
}

// --component-name--
//===============
// &-header {
//   height: 10vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: $accentColor;
//   border-bottom: 2px solid $secondaryColor;
// }
// &-body {
//   height: 30vh;
//   padding: 3% 10px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;

//   h3 {
//     display: flex;

//     .text {
//       width: 10%;
//       padding: 0px 5px;
//       display: flex;
//       justify-content: space-between;
//       align-content: center;
//       color: $primaryColor;
//     }
//     .prop {
//       display: flex;
//       justify-content: flex-start;
//       align-content: center;
//       width: 90%;
//       color: $secondaryColor;
//     }
//   }
// }
// &-footer {
//   height: 10vh;
// }
